body {
  font-family: Verdana, Arial, sans-serif;
  border-top: 20px solid #fff;
  margin: 0;
  transition: border-top-color 1000ms linear;
}

.hidden {
  display: none;
}

.main {
  margin: 0 auto;
  max-width: 900px;
}

section {
  margin-bottom: 60px;
}

blockquote {
  color: #fff;
  font-family: Georgia, Times, serif;
  font-size: 77px;
  text-align: center;
  border: 40px solid #000;
  margin: 0;
  padding: 40px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("http://www.ilikewallpaper.net/ipad-wallpapers/download/16555/Sunrise-at-sea-ipad-wallpaper-ilikewallpaper_com.jpg");
}

@-webkit-keyframes warkocze {
  0%	{
    -webkit-transform: rotate(14deg);
  }

  50% {
    -webkit-transform: rotate(-14deg);
  }

  100% {
    -webkit-transform: rotate(14deg);
  }
}

#ggc-logo {
 width: 100%;
}

h1 {
  text-align: center;
}

#ggc-logo.active .plait {
  -webkit-transform-origin: top center;
  -webkit-animation: warkocze 2s infinite;
  animation-timing-function: ease-out;
}

.hard {
  font-weight: bold;
}

#code {
  background-color: #000;
  width: 262px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 20px;
}

#code > img {
  /*margin-left: -510px;*/
}

ul#connections {
  position: fixed;
  top: 0;
  left: 0;
  list-style-type: none;
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
  width: 300px;
}

ul#connections li {
  text-align: center;
  padding: 5px;
  background: beige;
}